<footer id="navfooter">
  <a routerLink="/"><span class="lg">danceinthedark.com</span></a> - 2021 &nbsp;&nbsp;&nbsp;
  <a routerLink="/termsandconditions">Terms and Conditions</a>
  &nbsp;&nbsp;&nbsp;
  <a href="http://www.facebook.com/share.php?u=www.danceinthedark.com"><img src="assets/fb.png" width="20px"
      alt="Share This Page on Facebook!">&nbsp;Share this page on Facebook!</a>
  &nbsp;&nbsp;&nbsp;
  <a class="twitter-share-button" href="https://twitter.com/intent/tweet">
    Tweet this page</a>
</footer>
