<div class="container">
    <p class="about">My name is Alejandro (yes, I'm <a href="https://youtu.be/x-6J4qPn5u8?t=65"><i>Hot like
                M&eacute;xico</i></a>) and I'm a big fan of <span class="lg">Lady Gaga</span>.</p>
    <p class="about">I deeply love <span class="lg">Lady Gaga</span>, and not just her music. She's so talended and kind
        and an absolutely beautiful woman.</p>
    <p class="about">I remember the first time I saw <span class="lg">Lady Gaga</span> on TV, back in 2009. <a
            href="https://www.youtube.com/watch?v=WRqm872yMHc">She was dancing/fighting with Madonna.</a></p>
    <p class="about">Then I got her <i>The Fame Monster</i> album and I instantly fell in love with her.</p>
    <p class="about">I've had the luck of attending three of <span class="lg">Lady Gaga's</span> concerts so far. First during her
        <i>Joane Word Tour</i>, then twice for her <i>Enigma</i>. Please take a look at the <a
            routerLink="/gallery">gallery</a> for some cool pictures!
    </p>
    <p class="about">I'm now looking forward to seeing her again for <i>The Chromatica Ball</i>, rescheduled for summer 2021.</p>
    <p class="about">I've created this fan site to show my love and appreciation for <span class="lg">Lady Gaga</span>
        and my favorite song of <a routerLink="/">hers</a>.</p>
    <br>
    <p class="about">Thank you for visiting and remember: <i>Be Kind</i>.</p>
    <br>
    <div align="center" class="video-container">
        <iframe width="560" height="315" src="https://www.msnbc.com/msnbc/embedded-video/mmvo82197061822" scrolling="no"
            frameborder="0" allowfullscreen></iframe>
    </div>
    <br><br><br><br><br>
</div>
