<div class="container">
    <h2>This is a fan page dedicated to <span class="lg">Lady Gaga</span></h2>
    <p>By visiting this website, you understand/agree to the following:</p>
    <ul>
        <li>This website doesn't make profit in any way.</li>
        <li>This website doesn't use cookies and doesn't directly keep track of its visitors.</li>
        <li>YouTube might/will store some information if you play the video(s).</li>
        <li>The embedded Twitter timeline might/will show advertisements that don't belong to this fan site.</li>
        <li>The external links are not under control of the creator of this website.</li>
        <li>All the information and multimedia contained belongs to its respective creators.</li>
    </ul>
    <p>Built witn Angular CLI version 11.0.5.</p>
</div>
