html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto,
    "Helvetica Neue", sans-serif;
}

.lg {
    color: #77f;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
