<div fxFlexAlign="center" class="youtube-video-container">
    <iframe src="https://www.youtube-nocookie.com/embed/ueeLMXo8-gE" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
</div>
<!-- <iframe src="https://www.instagram.com/p/CItifB7jiHA/embed" width="400" height="480" frameborder="0" scrolling="no" allowtransparency="true"></iframe> -->
<br>
<div class="row home">
    <div class="col-md-3">
        <h2>Details</h2>
        <table >
            <tbody>
                <tr>
                    <td class="key">Released</td>
                    <td>July 26, 2010</td>
                </tr>
                <tr>
                    <td class="key">Studio</td>
                    <td>Metropolis, London</td>
                </tr>
                <tr>
                    <td class="key">Genre</td>
                    <td>Europop</td>
                </tr>
                <tr>
                    <td class="key">Length</td>
                    <td>4:49</td>
                </tr>
                <tr>
                    <td class="key">Label</td>
                    <td>Streamline&nbsp;&middot;&nbsp;Kon Live&nbsp;&middot;<br>Cherrytree&nbsp;&middot;&nbsp;Interscope</td>
                </tr>
                <tr>
                    <td class="key">Songwriters</td>
                    <td><span class="lg">Stefani Germanotta</span>&nbsp;&middot;&nbsp;Fernando Garibay</td>
                </tr>
                <tr>
                    <td class="key">Producers</td>
                    <td><span class="lg">Lady Gaga</span>&nbsp;&middot;&nbsp;Fernando Garibay</td>
                </tr>
            </tbody>
        </table>
        <br>
    </div>
    <div class="col-md-6">
        <div align="center">
            <h2>Dance in the Dark - by <span class="lg">Lady Gaga</span></h2>
            <p>Make it stop!<br>
            Silicon, saline, poison, inject me<br>
            Baby, I'm a free bitch<br>
            I'm a free bitch</p>

            <p>Some girls won't dance to the beat of the track<br>
            She won't walk away, but she won't look back<br>
            She looks good, but her boyfriend says she's a mess</p>

            <p>She's a mess, she's a mess<br>
            Now the girl is stressed<br>
            She's a mess, she's a mess<br>
            She's a mess, she's a mess<br>
            (Tell 'em, girls)</p>

            <p>Baby loves to dance in the dark<br>
            'Cause when he's looking, she falls apart<br>
            Baby loves to dance in the dark</p>

            <p>Baby loves to dance in the dark<br>
            'Cause when he's looking, she falls apart<br>
            Baby loves to dance, loves to dance in the dark<br>
            (Saline)</p>

            <p>Run, run, her kiss is a vampire grin<br>
            The moon lights her way while she's howling at him<br>
            She looks good, but her boyfriend says she's a tramp</p>

            <p>She's a tramp, she's a vamp<br>
            But she still does her dance<br>
            She's a tramp, she's a vamp<br>
            But she still kills the dance<br>
            (Tell 'em, girls)</p>

            <p>Baby loves to dance in the dark<br>
            'Cause when he's looking, she falls apart<br>
            Baby loves to dance in the dark</p>

            <p>Baby loves to dance in the dark<br>
            'Cause when he's looking, she falls apart<br>
            Baby loves to dance, loves to dance in the dark</p>

            <p>In the dark<br>
            She loves to dance in the dark<br>
            In the dark<br>
            She loves, she loves to dance in the dark</p>

            <p>Marilyn, Judy, Sylvia<br>
            Tell 'em how you feel, girls</p>

            <p>Work your JonBen&eacute;t Ramsey<br>
            We'll haunt like Liberace<br>
            Find your freedom in the music<br>
            Find your Jesus, find your Kubrick</p>

            <p>You will never fall apart<br>
            Diana, you're still in our hearts<br>
            Never let you fall apart<br>
            Together we'll dance in the dark</p>

            <p>Baby loves to dance in the dark<br>
            'Cause when he's looking, she falls apart<br>
            Baby loves to dance in the dark<br>
            Baby, yeah</p>

            <p>Baby loves to dance in the dark<br>
            'Cause when he's looking, she falls apart<br>
            Baby loves to dance, loves to dance in the dark<br>
            In the dark</p>
            <br>
        </div>
    </div>
    <div class="col-md-3" style="overflow-y: auto; height:1350px;">
        <a class="twitter-timeline" href="https://twitter.com/ladygaga?ref_src=twsrc%5Etfw">Tweets by ladygaga</a>
    </div>
</div>
